{% extends 'base.html' %}
{% load static %}

  {% block 'header_css' %} 
  <style>
    body {
      background-color:#d5beab;
    }
  </style>
  {% endblock 'header_css'%}

{% block 'body'%} 
<div>
  <div style="height: 19vh; background-color: #bb3d3e; margin-bottom: 47px"></div>
    <div class="container-fluid text-center">
      <p style="word-break: break-word;" class="display-4 align-middle">Hay <span style="color: #ae2a2a">muchass</span> organizaciones comunistas en España.</p>
      <a class="mt-4 btn btn-lg text-white" style="background-color:#471619" href="#" role="button"><span class="" style="word-break: break-word;">Mostrar lista completa</span></a>
    </div>
    
  <div style="margin-top:50px;max-width: 100%;" class="row">
    <div class="col">
      <div class="card text-white" style="background-color:#211e1e;">
        <div class="card-body text-center">
          <img class="img-fluid" style="width: 125px" src="{% static 'svg/twitter-logo.svg' %}" type="image/svg+xml">
          <h2 class="card-title">Contacta con nosotros en <a style="text-decoration:none;" href="https://twitter.com/estadodelmce">@estadodelmce</a></h2>
        </div>
      </div>
    </div>
    <div class="col">
      <a style="text-decoration:none;" href="https://ko-fi.com/estadodelmce">
      <div class="card text-white" style="background-color:#211e1e;">
        <div class="card-body rounded text-center">
          <img class="img-fluid" style="width: 125px" src="{% static 'svg/cup-logo.svg' %}" type="image/svg+xml">
          <h2 class="card-title">Apoya al proyecto con un café</h2>
        </div>
      </div>
      </a>
    </div>
  </div>



  </div>
</div>    
{% endblock 'body' %}
